.pertama{
	color: #3c0b66;
	padding-left: 50px;
}
#atas{
	width: 12%;
	border-bottom: solid 3px #ff8900;
	margin-left: 50px;
}
.satu{
	padding-left: 50px;

}
.gambar{
	width: 150px;
}
.matkul{
	color: rgb(60, 11, 102);
}
#mat{
	margin-top: 50px;
}
#tengah{
	width: 80%;
	border-bottom: solid 1px #ff8900;
	margin-left: 80px;
}
.top{
	color: #3c0b66;
	padding-left: 50px;
}
#bawah{
	width: 12%;
	border-bottom: solid 3px #ff8900;
	margin-left: 50px;
}
